html {
    width: 100dvw;
    height: 100dvh;
}

body {
    width: 100%;
    height: 100dvh;
    position: absolute;
    overflow: clip;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 1200px) {
    body {
        width: 1200px;
        overflow-x: scroll;
    }
}

body {
    background-color: black;
}

img {
    -webkit-user-drag: none;
}

#background {
    position: absolute;
    overflow: clip;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background>div {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#background>div>img {
    position: absolute;
    bottom: 0px;
    width: 1024px;
    height: 1024px;
    image-rendering: pixelated;
}

.character {
    position: absolute;
    image-rendering: pixelated;
    -webkit-user-drag: none;
}

.orray {
    width: 64px;
    height: 64px;
}

.oswin {
    width: 32px;
    height: 32px;
}

.first-minion {
    width: 64px;
    height: 64px;
}

.train {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 8px;
}

.train>.train-cart {
    position: relative;
    image-rendering: pixelated;
    width: 512px;
    height: 320px;
}

.train>.train-cart>.train-cart-img {
    position: relative;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.train>.train-cart>.weapon {
    position: absolute;
    width: 64px;
    height: 64px;
}

.train>.train-cart>.weapon>img {
    position: absolute;
    transform-origin: center 75%;
    width: 100%;
    height: 100%;
}

.train-cart-flash {
    position: absolute;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#train-tracks {
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 800%;
    height: 16px;
    background-image: url("images/train/TrainTracks.png");
    background-repeat: repeat-x;
    background-size: 256px 16px;
    image-rendering: pixelated;
}

.projectile {
    position: absolute;
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
}